.vscode/

.claude/
CLAUDE.md

.cursor/


.next/
next-env.d.ts
node_modules/

docs/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store

.vercel
.env*.local


.husky/
.playwright-mcp/