@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* highlight.js github theme */
.hljs {
  background: #0d1117 !important;
  color: #c9d1d9;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: #ff7b72;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #a5d6ff;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #8b949e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-number {
  color: #79c0ff;
}

.hljs-function .hljs-title {
  color: #d2a8ff;
}

.hljs-built_in {
  color: #ffa657;
}

.hljs-class .hljs-title {
  color: #7ee787;
}

.hljs-attr {
  color: #79c0ff;
}
